# Bibliothek Installation

In [1]:
%pip install opencv-python pandas openpyxl pytesseract -U scikit-learn pymupdf matplotlib ipywidgets chardet

Requirement already satisfied: opencv-python in ./.venv/lib/python3.13/site-packages (4.11.0.86)
Requirement already satisfied: pandas in ./.venv/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: openpyxl in ./.venv/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: pytesseract in ./.venv/lib/python3.13/site-packages (0.3.13)
Requirement already satisfied: scikit-learn in ./.venv/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: pymupdf in ./.venv/lib/python3.13/site-packages (1.25.5)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.13/site-packages (3.10.3)
Collecting ipywidgets
  Downloading ipywidgets-8.1.7-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: chardet in ./.venv/lib/python3.13/site-packages (5.2.0)
Requirement already satisfied: numpy>=1.21.2 in ./.venv/lib/python3.13/site-packages (from opencv-python) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in ./.venv/lib/python3.13/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: packaging>=21.3 in ./.venv/lib/python3.13/site-packages (from pytesseract) (25.0)
Requirement already satisfied: Pillow>=8.0.0 in ./.venv/lib/python3.13/site-packages (from pytesseract) (11.2.1)
Requirement already satisfied: scipy>=1.6.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./.venv/lib/python3.13/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.13/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.13/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.13/site-packages (from matplotlib) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.13/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.13/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: comm>=0.1.3 in ./.venv/lib/python3.13/site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in ./.venv/lib/python3.13/site-packages (from ipywidgets) (9.2.0)
Requirement already satisfied: traitlets>=4.3.1 in ./.venv/lib/python3.13/site-packages (from ipywidgets) (5.14.3)
Collecting widgetsnbextension~=4.0.14 (from ipywidgets)
  Downloading widgetsnbextension-4.0.14-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab_widgets~=3.0.15 (from ipywidgets)
  Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: decorator in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (1.1.1)
Requirement already satisfied: jedi>=0.16 in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.2)
Requirement already satisfied: matplotlib-inline in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: pexpect>4.3 in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (2.19.1)
Requirement already satisfied: stack_data in ./.venv/lib/python3.13/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: wcwidth in ./.venv/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in ./.venv/lib/python3.13/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in ./.venv/lib/python3.13/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: executing>=1.2.0 in ./.venv/lib/python3.13/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in ./.venv/lib/python3.13/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (3.0.0)
Requirement already satisfied: pure-eval in ./.venv/lib/python3.13/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (0.2.3)
Downloading ipywidgets-8.1.7-py3-none-any.whl (139 kB)
Downloading jupyterlab_widgets-3.0.15-py3-none-any.whl (216 kB)
Downloading widgetsnbextension-4.0.14-py3-none-any.whl (2.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 13.9 MB/s eta 0:00:00
Installing collected packages: widgetsnbextension, jupyterlab_widgets, ipywidgets
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [ipywidgets]3 [ipywidgets]
Successfully installed ipywidgets-8.1.7 jupyterlab_widgets-3.0.15 widgetsnbextension-4.0.14
Note: you may need to restart the kernel to use updated packages.

# Import von notwendigen Bibliotheken

In [2]:
import platform
import warnings
if platform.system() == 'Windows':
    print('Windows-System erkannt')
    warnings.warn(
        "Bei importproblemen Microsoft Visual C++ Redistributables installieren und die Anwendung neu starten\n"
        "https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist?view=msvc-170\n",
        UserWarning
    )
import cv2
import pandas as pd
from pandas import DataFrame
from IPython.display import display,Markdown,HTML
import chardet
import time
import os
import csv
import tkinter as tk
from tkinter import filedialog,messagebox
from pathlib import Path
from matplotlib import pyplot as plt
import re
import sys
import fitz 
import difflib
import openpyxl
from datetime import datetime
import numpy as np
import pytesseract
from pytesseract import Output
from sklearn.cluster import KMeans
from openpyxl.styles import PatternFill

In [3]:
if platform.system() == 'Windows':
    pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract.exe'
    print('Tesseract Path set for Windows!')
if platform.system() == "Linux" and os.name == "posix":
    pytesseract.pytesseract.tesseract_cmd = '/usr/bin/tesseract'
    print('Tesseract Path set for Linux-Systems!')

In [4]:
# Custom Print Funktion
def printmd(*args):
    text = " ".join(str(arg) for arg in args)
    display(Markdown(f"<div style='word-wrap: break-word;'><h5>Log: {text}</h5></div>"))

# Custom Image Display Funktion
def display_images(*args):
    def get_image_path(image):
        return str(image) if isinstance(image, Path) else image

    if len(args) == 1 and isinstance(args[0], (str, Path)):
        image_path = get_image_path(args[0])  
        image_name = Path(image_path).name 
        
        display(HTML(f"<div style='text-align: center;'><h5>{image_name}</h5><img src='{image_path}' style='max-width: 100%; max-height: 400px;'></div>"))
    
    elif len(args) == 1 and isinstance(args[0], list):
        image_paths = args[0]
        image_tags = ""
        
        for image_path in image_paths:
            image_path = get_image_path(image_path)
            image_name = Path(image_path).name 
            image_tags += f"<div style='display: inline-block; text-align: center; margin: 10px;'><h5>{image_name}</h5><img src='{image_path}' style='max-width: 100%; max-height: 400px;'></div>"

        display(HTML(f"<div style='display: flex; justify-content: center; flex-wrap: wrap;'>{image_tags}</div>"))

### Code für die Grafische Oberfläche

In [5]:
%gui tk

# Variablen um Pfade abzuspeichern 
selected_folder = ""
selected_folder_GL = ""
gesamtliste_ba = None
gesamtliste_ma = None
attendance_lists = []
online_lists = []

# Funktion zum Suchen der Gesamtlisten
def find_gesamtlisten(root,file):
    global gesamtliste_ba, gesamtliste_ma
    if file.endswith(('.xlsx', '.csv')) and not (file.startswith('._')or file in ['.DS_Store','Thumbs.db','Desktop.ini']):  
        file_path = Path(os.path.join(root, file))
        if re.search(r"bachelor", file, re.IGNORECASE):
            gesamtliste_ba = file_path
        else: 
            gesamtliste_ma = file_path

# Funktion zum Suchen von Präsenzlisten
def find_attendance_lists(folder):
    global attendance_lists
    for root, dirs, files in os.walk(folder):
        for file in files:
            if file.startswith('._')or file in ['.DS_Store','Thumbs.db','Desktop.ini']:
                continue
            if file.lower().endswith(".pdf"):  
                attendance_lists.append(Path(root) / file)

# Funktion zum Suchen von Onlinelisten
def find_online_lists(folder):
    global online_lists
    for root, dirs, files in os.walk(folder):
        for file in files:
            if file.startswith('._')or file in ['.DS_Store','Thumbs.db','Desktop.ini']:
                continue
            if file.lower().endswith((".csv", ".xlsx", ".pdf")):  
                online_lists.append(Path(root) / file)

def clear_all_selections():
    global selected_folder, selected_folder_GL , gesamtliste_ba,gesamtliste_ma,attendance_lists,online_lists
    selected_folder = ""
    gesamtliste_ba = None
    gesamtliste_ma = None
    attendance_lists = []
    online_lists = []
    
    label.config(text="No folder selected")
    label_gl.config(text="No folder selected")

def select_folder():
    global selected_folder, selected_folder_GL
    clear_all_selections() 
    folder_path = filedialog.askdirectory(mustexist=True, title="Select T Folders", initialdir=os.getcwd())

    if folder_path:
            folder_name = os.path.basename(folder_path)
            # Prüfen ob gewählter ordner T1-T8 ist
            if folder_name.startswith("T") and folder_name[1:].isdigit() and 1 <= int(folder_name[1:]) <= 8:

                #Pfadzusammensetzung für T-Ordner in Ausgewertet
                ausgewertet_folder = os.path.join(os.path.dirname(folder_path), "ausgewertet", folder_name)
                
                if os.path.exists(ausgewertet_folder): 
                    messagebox.showinfo("Success", f"Selected {folder_name} and its corresponding folder in 'ausgewertet'.")
                    selected_folder= folder_path
                    selected_folder_GL = ausgewertet_folder
                    label.config(text=f"Selected T Folder: {selected_folder}")
                    label_gl.config(text=f"Selected T Folder in ausgewertet: {selected_folder_GL}")
                else:
                    messagebox.showwarning("Warning", f"Corresponding folder in 'ausgewertet' does not exist for {folder_name}.")
            else:
                messagebox.showwarning("Warning", "Please select a folder from T1 to T8.")
    else:
            messagebox.showwarning("Warning", "No folder selected.")

def auswerten():
    printmd("Auswerten button clicked")
    if selected_folder_GL is not None:
        for root, dirs, files in os.walk(selected_folder_GL):
            for file in files:
                find_gesamtlisten(root,file)
        for root, dirs, files in os.walk(selected_folder):
            online_folder = Path(os.path.join(root, "online"))
            find_attendance_lists(root)
            if online_folder.exists() and online_folder.is_dir():
                find_online_lists(online_folder)
    close_app()
        

def close_app():
    root.quit()
    root.destroy()

def close_app_withx():
    clear_all_selections()
    close_app()
# Main window
root = tk.Tk()
root.title("Automation Bot")

root.protocol("WM_DELETE_WINDOW", close_app_withx)

window_width = 800
window_height = 600
root.geometry(f"{window_width}x{window_height}")

# Buttons und Labels 
select_button = tk.Button(root, text="Ordner auswählen", command=select_folder)
select_button.pack(pady=10)

label = tk.Label(root, text="No folder selected")
label.pack(pady=5)

label_gl = tk.Label(root, text="No folder selected")
label_gl.pack(pady=5)

auswerten_button = tk.Button(root, text="Auswerten", command=auswerten)
auswerten_button.pack(pady=10)

root.mainloop()

#print(selected_folder,selected_folder_GL)
printmd(attendance_lists)
printmd(online_lists)

<div style='word-wrap: break-word;'><h5>Log: []</h5></div>

<div style='word-wrap: break-word;'><h5>Log: []</h5></div>

In [6]:
if not gesamtliste_ba or not gesamtliste_ma:
        printmd("Gesamtlisten nicht bereitgestellt!")
        sys.exit()

start_time = time.time()

<div style='word-wrap: break-word;'><h5>Log: Gesamtlisten nicht bereitgestellt!</h5></div>

SystemExit:

/Users/aashiskaphle/Downloads/Anhang/app/.venv/lib/python3.13/site-packages/IPython/core/interactiveshell.py:3678: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

### Umwandlung Pdf zu Bild

In [ ]:
#Für bearbeitung von Präsenzlisten

printmd('Pfade der Präsenzlisten:',attendance_lists)
base_output_folder = Path('logs')
base_output_folder.mkdir(parents=True, exist_ok=True)
images_for_OCR = {}
process_output_folder = None

def create_unique_output_folder(base_folder):
    # Generieruung eines Ordners für die Ablage von Outputs
    timestamp = None
    if platform.system() == 'Windows':
        timestamp = datetime.now().strftime('%Y_%m_%d_%H-%M-%S')
    else:
        timestamp = datetime.now().strftime('%Y_%m_%d_%H:%M:%S')
    unique_folder = base_folder / f"process_{timestamp}"
    unique_folder.mkdir(parents=True, exist_ok=True)
    return unique_folder

def preprocess_image_for_ocr(input_path, output_path):
    image = cv2.imread(input_path, cv2.IMREAD_COLOR)
    assert image is not None, "file could not be read, check with os.path.exists()"
    gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)
    _,binary = cv2.threshold(gray,0,255,cv2.THRESH_BINARY+cv2.THRESH_OTSU)
    cv2.imwrite(output_path,binary)
    printmd('Bild verarbeitet')
    display_images([input_path,output_path])

def convert_pdf_to_images(pdf_path, output_folder, scale_factor):
    pdf_document = fitz.open(pdf_path)
    pdf_name = pdf_path.stem  
    images_for_OCR[str(pdf_name)] = images_for_OCR.get(str(pdf_name), [])
    matrix = fitz.Matrix(scale_factor, scale_factor)
    pdf_output_folder = output_folder / pdf_name
    pdf_output_folder.mkdir(parents=True, exist_ok=True)

    for page_num in range(len(pdf_document)):
        page = pdf_document.load_page(page_num)  
        pix = page.get_pixmap(matrix=matrix)  
        image_path = pdf_output_folder / f"page_{page_num + 1}.png"
        pix.save(image_path)  
        printmd(f"Converted PDF {pdf_name} to image {image_path} (Resolution: {pix.width}x{pix.height})")
        image_path_processed = pdf_output_folder / f"page_{page_num + 1}_processed.png"
        preprocess_image_for_ocr(image_path,image_path_processed)
        images_for_OCR[str(pdf_name)].append(str(image_path_processed))
        printmd(f"Saved Processed image to {image_path_processed}")
        
# Verarbeiten der Präsenzlisten
if attendance_lists:
    process_output_folder = create_unique_output_folder(base_output_folder)
    for pdf_path in attendance_lists:
        convert_pdf_to_images(pdf_path, process_output_folder, scale_factor=2.75)

<div style='word-wrap: break-word;'><h5>Log: Pfade der Präsenzlisten: [PosixPath('/Users/aashiskaphle/Downloads/BA/Listenvorlagen/Anwesenheitslisten/WS_2024_2025/T1/Master_1_Sem_WPM-AdKI_Müller.pdf')]</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Converted PDF Master_1_Sem_WPM-AdKI_Müller to image logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_1.png (Resolution: 1637x2316)</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Bild verarbeitet</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Saved Processed image to logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_1_processed.png</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Converted PDF Master_1_Sem_WPM-AdKI_Müller to image logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_2.png (Resolution: 1637x2316)</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Bild verarbeitet</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Saved Processed image to logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_2_processed.png</h5></div>

## DataFrame selection of rows and columns with iloc Method
* `df.iloc[0, 1]`: Gets the value in the first row, second column
* `df.iloc[:, 1]`: Gets the entire second column.
* `df.iloc[1, :]`: Gets the entire second row.
* `df.iloc[:, 0]`: Selects all rows from the first column of the DataFrame.
* `matching_indices = df[df.iloc[:, 0].str.contains('name', na=False)].index[0]`: Getting index in the first column where the cell contains 'name'

### OCR Durchführung und Umwanndlung der Dataframes zu anwesenheitstabellen

In [ ]:
from helperfunctions import draw_contours,improve_ocr_result,recheck_output_table
from imagetotable import convert_ocrdata_to_table
final_attendance_tables = {}

if images_for_OCR:
    for key,values in images_for_OCR.items():
        printmd(f"-------- Verabeitung der Liste {key} gestartet: --------")
        final_attendance_tables[str(key)] = final_attendance_tables.get(str(key), [])
        for value in values:
            directory = os.path.dirname(value)
            csv_path = directory + "/csv_exports"
            os.makedirs(csv_path, exist_ok=True)
            filename = os.path.splitext(os.path.basename(value))[0]
            printmd('Processing Directory:',directory, 'Image:', value)
            image = cv2.imread(value,cv2.IMREAD_GRAYSCALE)
            display_images(value)
            al = pytesseract.image_to_data(image,output_type=Output.DATAFRAME, lang='deu')
            printmd('OCR DataFrame')
            display(al)
            al.to_csv(f"{csv_path}/{filename}_df.csv", index=False)
            rgb_img = cv2.cvtColor(image, cv2.COLOR_GRAY2RGB)
            contours_in_image = draw_contours(rgb_img,al)
            con_imgpath = f"{directory}/{filename}_contours.png"
            cv2.imwrite(con_imgpath,contours_in_image)
            printmd('OCR Detected areas')
            display_images(con_imgpath)
            improved_ocr_path = directory + '/ocr_improvements'+ f"/{filename}"
            os.makedirs(improved_ocr_path, exist_ok=True)
            al = improve_ocr_result(al,image,improved_ocr_path)
            file_list = [os.path.join(improved_ocr_path, f) for f in os.listdir(improved_ocr_path)]
            printmd(f" -------- Verbesserung der OCR Erkennung für Folgender Bereiche --------")
            display_images(file_list)
            al = convert_ocrdata_to_table(al)
            printmd('Converted to Original Table')
            recheck_output_table(al)
            printmd('Rechecking Table ...')
            display(al)
            saving_path = f"{csv_path}/{filename}_final_table.csv"
            al.to_csv(saving_path, index=False)
            final_attendance_tables[str(key)].append(str(saving_path))
            printmd(f" -------- Verarbeitung abgeschlossen für Bild {value} --------")
    printmd(f" -------- Verarbeitung abgeschlossen für Modul {key} --------")

printmd(final_attendance_tables)

<div style='word-wrap: break-word;'><h5>Log: -------- Verabeitung der Liste Master_1_Sem_WPM-AdKI_Müller gestartet: --------</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Processing Directory: logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller Image: logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_1_processed.png</h5></div>

<div style='word-wrap: break-word;'><h5>Log: OCR DataFrame</h5></div>

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1637,2316,-1.0,NaN
1,2,1,1,0,0,0,145,117,1347,1,-1.0,NaN
2,3,1,1,1,0,0,145,117,1347,1,-1.0,NaN
3,4,1,1,1,1,0,145,117,1347,1,-1.0,NaN
4,5,1,1,1,1,1,145,117,1347,1,95.0,
...,...,...,...,...,...,...,...,...,...,...,...,...
474,5,1,94,1,1,1,145,2103,1347,1,95.0,
475,2,1,95,0,0,0,1489,117,4,1987,-1.0,NaN
476,3,1,95,1,0,0,1489,117,4,1987,-1.0,NaN
477,4,1,95,1,1,0,1489,117,4,1987,-1.0,NaN
478,5,1,95,1,1,1,1489,117,4,1987,95.0,

<div style='word-wrap: break-word;'><h5>Log: OCR Detected areas</h5></div>

<div style='word-wrap: break-word;'><h5>Log:  -------- Verbesserung der OCR Erkennung für Folgender Bereiche --------</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Converted to Original Table</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Rechecking Table ...</h5></div>

,0,1,2,3
0,None,Verbundstudiengang Wirtschaftsinformatik,None,None
1,None,"Anwesenheit in Gummersbach, anschließend",ins Postfach 180 zurück!,None
2,Datum:,Lehrender:,None,Raum:
3,Fach:,None,Uhrzeit/Gruppe:,None
4,"Name, Vorname (Druckschrift!)",None,Unterschrift:,Matr.-Nr. oder
5,None,None,None,FH-zugehörigkeit
6,2.,Nico Wagner,"or” Pe ma ww MA ualz we Dr Be a fer, A Um Sulz...",None
7,3.,o ol A an m,None,None
8,4.,David Klein,None,None
9,5.,Ali Hassan,None,None
10,6.,Johanna Fischer,None,None
11,7.,Yusuf Arslan,None,None
12,8.,Stefan Becker,None,None
13,9.,Lea Demiroglu,None,None
14,10.,Philipp Schrder,None,None
15,11.,Amal Rahmani,None,None
16,12.,Marlon Hoffmann,None,None
17,13.,Esma Sahin,None,None
18,14.,Kai Lehmann,None,None
19,15.,Omar Nour,None,None
20,16.,Nina Weber,None,None
21,17.,Mehmet Balci,None,None
22,18.,Tobias Neumann,None,None
23,19.,Hajar Idrissi,None,None
24,20.,Sebastian Berger,None,None
25,21.,Zeynep Tekin,None,None
26,22.,Jens Winter,None,None
27,23.,Rania Chami,None,None
28,24.,Martin Jansen,None,None
29,25.,Fatma Mohammadi,None,None
30,26.,Christian Krger,None,None
31,27.,Lamia Bouzid,None,None
32,28.,Robert Schwarz,None,None
33,29.,Ilyas Khan,None,None

<div style='word-wrap: break-word;'><h5>Log:  -------- Verarbeitung abgeschlossen für Bild logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_1_processed.png --------</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Processing Directory: logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller Image: logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_2_processed.png</h5></div>

<div style='word-wrap: break-word;'><h5>Log: OCR DataFrame</h5></div>

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1637,2316,-1.0,NaN
1,2,1,1,0,0,0,145,147,1347,4,-1.0,NaN
2,3,1,1,1,0,0,145,147,1347,4,-1.0,NaN
3,4,1,1,1,1,0,145,147,1347,4,-1.0,NaN
4,5,1,1,1,1,1,145,147,1347,4,95.0,
...,...,...,...,...,...,...,...,...,...,...,...,...
330,5,1,42,1,1,1,145,1762,1347,4,95.0,
331,2,1,43,0,0,0,1489,148,4,1617,-1.0,NaN
332,3,1,43,1,0,0,1489,148,4,1617,-1.0,NaN
333,4,1,43,1,1,0,1489,148,4,1617,-1.0,NaN
334,5,1,43,1,1,1,1489,148,4,1617,95.0,

<div style='word-wrap: break-word;'><h5>Log: OCR Detected areas</h5></div>

<div style='word-wrap: break-word;'><h5>Log:  -------- Verbesserung der OCR Erkennung für Folgender Bereiche --------</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Converted to Original Table</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Rechecking Table ...</h5></div>

,0,1,2,3
0,None,"Name, Vorname (Druckschrift!)",Unterschrift:,Matr.-Nr. oder
1,None,None,None,FH-zugehörigkeit
2,29,Patrick Voigt,None,None
3,30,Layla Al-Mansour,None,None
4,32,Nour Abdulwahid,rent,None
5,34 Amira Etemadi,Daniel Ludwig,abs Koknann,None
6,35,Ralf Seidel,az,None
7,36,Faris Haddadi,Zu,None
8,8.,Jonas Maier,ulm,None
9,38,Hiba Karam,None,None
10,39,Marc Günther,Kohn,None
11,11.,Samira Stein,None,None
12,41,Oliver Vogel,usiz-,None
13,13.,Yassir Darwish,Zu,None
14,44 Sahar Ahmadi,Dominik Richter,[aa Um,None
15,45,Felix Franke,Kan,None
16,46,Nadia El-Khatib,Hodrım,None
17,47,Henrik Busch,None,None
18,48,Hassan Jabbari,Kant,None
19,49,Manuel Braun,IN,None
20,51,Bayan Haddad,at Pr,None
21,52,Florian Döring,u”,None
22,53,Mina Salıh,Gl,None
23,54,Basma Fadel,Far,None
24,55,Julian Dietrich,>,None
25,56,Kevin Keller,None,None

<div style='word-wrap: break-word;'><h5>Log:  -------- Verarbeitung abgeschlossen für Bild logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/page_2_processed.png --------</h5></div>

<div style='word-wrap: break-word;'><h5>Log:  -------- Verarbeitung abgeschlossen für Modul Master_1_Sem_WPM-AdKI_Müller --------</h5></div>

<div style='word-wrap: break-word;'><h5>Log: {'Master_1_Sem_WPM-AdKI_Müller': ['logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/csv_exports/page_1_processed_final_table.csv', 'logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/csv_exports/page_2_processed_final_table.csv']}</h5></div>

#### Vorlesungstage/Datei- & Tabellenabkürzungen BA & MA

In [ ]:
lecture_dates = {
    "T1": "2024-09-28",
    "T2": "2024-10-12",
    "T3": "2024-11-09",
    "T4": "2024-11-23",
    "T5": "2024-11-30",
    "T6": "2024-12-14",
    "T7": "2025-01-11",
    "T8": "2025.01-25"
}
ma_filesheet_names = {
    "IT-Controlling": "IT-Controlling",
    "IuK": "IuK",
    "IT-Sicherheit": "IT-Sicherheit",
    "UsaEng": "Usability Engineering",
    "IT-Management": "IT-Management",
    "IT-Consulting": "IT-Consulting",
    "RegEng": "Requirements Engineering f.d.L.",
    "WPM-IntDB": "InternetDB",
    "WPM-AdKI": "Anwendungen der KI",
    "WPM-KoSy": "Kooperative Systeme"
}
ba_filesheet_names = {
    "EWI": "EWI",
    "AuP I": "AuP_I",
    "MA I": "Mathe I",
    "AuP II": "AuP II",
    "MA II": "Mathe II",
    "BWL I": "BWL_I",
    "WiMa": "Wima",
    "SPR": "SPR",
    "InfGr": "Informatik Grundlagen",
    "RE": "RE",
    "PM": "PM",
    "BWL II": "BWL_II",
    "DuI": "DuI",
    "VWL": "VWL",
    "BR": "Betr. Rechnungswesen",
    "BSWE": "BSWE",
    "GPM": "GPM",
    "BAWS": "Betr. Anwendungssysteme",
    "MoKo": "Mobile Kommunikation",
    "GdKI": "Grundlagen der KI"
}
printmd('Ausgewählter Termin Pfad:',selected_folder)
printmd('Ausgewählter T-Ordner: ',os.path.basename(selected_folder))

<div style='word-wrap: break-word;'><h5>Log: Ausgewählter Termin Pfad: /Users/aashiskaphle/Downloads/BA/Listenvorlagen/Anwesenheitslisten/WS_2024_2025/T1</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Ausgewählter T-Ordner:  T1</h5></div>

### Suche und Eintragung der Anwesenheiten für Präsenzlisten

In [ ]:
from savingfunctions import save_attendance

if final_attendance_tables:
    print(final_attendance_tables)
    list_to_process = None
    lecture_date = None
    table_to_process = None
    sheet_name = None
    process_list_sheet = None
    current_t_folder = os.path.basename(selected_folder).upper()
    lecture_date = lecture_dates[current_t_folder]

    for key,values in final_attendance_tables.items():
        if 'bachelor' in key.lower():
            list_to_process = gesamtliste_ba
            gl = pd.ExcelFile(list_to_process)
            sheet_names = gl.sheet_names
            file_shortcut = key.split("_")
            file_shortcut = file_shortcut[3]
            printmd('Datei abkürzung: ',file_shortcut)
            printmd('In Excel enthaltene Tabellen: ',sheet_names)
            for key1,_ in ba_filesheet_names.items():
                if key1.lower() == str(file_shortcut).lower():
                    sheet_name = ba_filesheet_names[key1]
                    break
            process_list_sheet = pd.read_excel(list_to_process, sheet_name=sheet_name)
            printmd('Bachelor Modul gefunden ','Date:',lecture_date)

        elif 'master' in key.lower():
            list_to_process = gesamtliste_ma
            gl = pd.ExcelFile(list_to_process)
            sheet_names = gl.sheet_names
            file_shortcut = key.split("_")
            file_shortcut = file_shortcut[3]
            printmd('Excel Sheets names:',sheet_names)
            for key1,_ in ma_filesheet_names.items():
                if key1.lower() == str(file_shortcut).lower():
                    sheet_name = ma_filesheet_names[key1]
                    break
            process_list_sheet = pd.read_excel(list_to_process, sheet_name=sheet_name)
            printmd('Master Modul gefunden! Datum des Termins: ',lecture_date)

        else:
            continue
        
        for value in values:
            table_to_process = pd.read_csv(value)
            save_attendance(lecture_date,process_list_sheet,table_to_process,list_to_process,sheet_name)
            table_to_process = None

printmd(f"Total processing time: {time.time() - start_time:.2f} seconds")

{'Master_1_Sem_WPM-AdKI_Müller': ['logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/csv_exports/page_1_processed_final_table.csv', 'logs/process_2025_05_15_09:53:28/Master_1_Sem_WPM-AdKI_Müller/csv_exports/page_2_processed_final_table.csv']}

<div style='word-wrap: break-word;'><h5>Log: Excel Sheets names: ['IuK', 'IT-Controlling', 'IT-Management', 'InternetDB', 'Kooperative Systeme', 'Anwendungen der KI']</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Master Modul gefunden! Datum des Termins:  2024-09-28</h5></div>

,0,1,2,3
0,NaN,Verbundstudiengang Wirtschaftsinformatik,NaN,NaN
1,NaN,"Anwesenheit in Gummersbach, anschließend",ins Postfach 180 zurück!,NaN
2,Datum:,Lehrender:,NaN,Raum:
3,Fach:,NaN,Uhrzeit/Gruppe:,NaN
4,"Name, Vorname (Druckschrift!)",NaN,Unterschrift:,Matr.-Nr. oder
5,NaN,NaN,NaN,FH-zugehörigkeit
6,2.,Nico Wagner,"or” Pe ma ww MA ualz we Dr Be a fer, A Um Sulz...",NaN
7,3.,o ol A an m,NaN,NaN
8,4.,David Klein,NaN,NaN
9,5.,Ali Hassan,NaN,NaN
10,6.,Johanna Fischer,NaN,NaN
11,7.,Yusuf Arslan,NaN,NaN
12,8.,Stefan Becker,NaN,NaN
13,9.,Lea Demiroglu,NaN,NaN
14,10.,Philipp Schrder,NaN,NaN
15,11.,Amal Rahmani,NaN,NaN
16,12.,Marlon Hoffmann,NaN,NaN
17,13.,Esma Sahin,NaN,NaN
18,14.,Kai Lehmann,NaN,NaN
19,15.,Omar Nour,NaN,NaN
20,16.,Nina Weber,NaN,NaN
21,17.,Mehmet Balci,NaN,NaN
22,18.,Tobias Neumann,NaN,NaN
23,19.,Hajar Idrissi,NaN,NaN
24,20.,Sebastian Berger,NaN,NaN
25,21.,Zeynep Tekin,NaN,NaN
26,22.,Jens Winter,NaN,NaN
27,23.,Rania Chami,NaN,NaN
28,24.,Martin Jansen,NaN,NaN
29,25.,Fatma Mohammadi,NaN,NaN
30,26.,Christian Krger,NaN,NaN
31,27.,Lamia Bouzid,NaN,NaN
32,28.,Robert Schwarz,NaN,NaN
33,29.,Ilyas Khan,NaN,NaN

,Verbundstudiengang Wirtschaftsinformatik,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
1,Fach,Anwendungen der KI in der WI,Lehrende,Bab,NaN,NaT,NaT,NaT,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
3,Name,Vorname,DO-Ma.Nr.,GM-Ma.Nr.,NaN,NaT,NaT,NaT,Anzahl der Termine,4.0
4,NaN,NaN,NaN,NaN,2024-09-28 00:00:00,2024-10-12,2024-11-09,2024-11-23,%-Anwesenheit,NaN
...,...,...,...,...,...,...,...,...,...,...
57,Mina,Salıh,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
58,Basma,Fadel,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
59,Julian,Dietrich,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
61,Anzahl,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN

Student gefunden:  Gesamtliste: Nico, Wagner Anwesenheitsliste: Nico Wagner
Anwesenheit ist bereits eingetragen für: Nico Wagner

,0,1,2,3
0,NaN,"Name, Vorname (Druckschrift!)",Unterschrift:,Matr.-Nr. oder
1,NaN,NaN,NaN,FH-zugehörigkeit
2,29,Patrick Voigt,NaN,NaN
3,30,Layla Al-Mansour,NaN,NaN
4,32,Nour Abdulwahid,rent,NaN
5,34 Amira Etemadi,Daniel Ludwig,abs Koknann,NaN
6,35,Ralf Seidel,az,NaN
7,36,Faris Haddadi,Zu,NaN
8,8.,Jonas Maier,ulm,NaN
9,38,Hiba Karam,NaN,NaN
10,39,Marc Günther,Kohn,NaN
11,11.,Samira Stein,NaN,NaN
12,41,Oliver Vogel,usiz-,NaN
13,13.,Yassir Darwish,Zu,NaN
14,44 Sahar Ahmadi,Dominik Richter,[aa Um,NaN
15,45,Felix Franke,Kan,NaN
16,46,Nadia El-Khatib,Hodrım,NaN
17,47,Henrik Busch,NaN,NaN
18,48,Hassan Jabbari,Kant,NaN
19,49,Manuel Braun,IN,NaN
20,51,Bayan Haddad,at Pr,NaN
21,52,Florian Döring,u”,NaN
22,53,Mina Salıh,Gl,NaN
23,54,Basma Fadel,Far,NaN
24,55,Julian Dietrich,>,NaN
25,56,Kevin Keller,NaN,NaN

,Verbundstudiengang Wirtschaftsinformatik,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
1,Fach,Anwendungen der KI in der WI,Lehrende,Bab,NaN,NaT,NaT,NaT,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
3,Name,Vorname,DO-Ma.Nr.,GM-Ma.Nr.,NaN,NaT,NaT,NaT,Anzahl der Termine,4.0
4,NaN,NaN,NaN,NaN,2024-09-28 00:00:00,2024-10-12,2024-11-09,2024-11-23,%-Anwesenheit,NaN
...,...,...,...,...,...,...,...,...,...,...
57,Mina,Salıh,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
58,Basma,Fadel,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
59,Julian,Dietrich,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
61,Anzahl,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN

Student gefunden:  Gesamtliste: Nour, Abdulwahid Anwesenheitsliste: Nour Abdulwahid
Anwesenheit ist bereits eingetragen für: Nour Abdulwahid
Student gefunden:  Gesamtliste: Daniel, Ludwig Anwesenheitsliste: Daniel Ludwig
Anwesenheit ist bereits eingetragen für: Daniel Ludwig
Student gefunden:  Gesamtliste: Ralf, Seidel Anwesenheitsliste: Ralf Seidel
Anwesenheit ist bereits eingetragen für: Ralf Seidel
Student gefunden:  Gesamtliste: Faris, Haddadi Anwesenheitsliste: Faris Haddadi
Anwesenheit ist bereits eingetragen für: Faris Haddadi
Student gefunden:  Gesamtliste: Jonas, Maier Anwesenheitsliste:  Jonas Maier
Anwesenheit ist bereits eingetragen für:  Jonas Maier
Student gefunden:  Gesamtliste: Marc, Günther Anwesenheitsliste: Marc Günther
Anwesenheit ist bereits eingetragen für: Marc Günther
Student gefunden:  Gesamtliste: Oliver, Vogel Anwesenheitsliste: Oliver Vogel
Anwesenheit ist bereits eingetragen für: Oliver Vogel
Student gefunden:  Gesamtliste: Yassir, Darwish Anwesenheitsliste:  Yassir Darwish
Anwesenheit ist bereits eingetragen für:  Yassir Darwish
Student gefunden:  Gesamtliste: Dominik, Richter Anwesenheitsliste: Dominik Richter
Anwesenheit ist bereits eingetragen für: Dominik Richter
Student gefunden:  Gesamtliste: Felix, Franke Anwesenheitsliste: Felix Franke
Anwesenheit ist bereits eingetragen für: Felix Franke
Student gefunden:  Gesamtliste: Nadia, El-Khatib Anwesenheitsliste: Nadia El-Khatib
Anwesenheit ist bereits eingetragen für: Nadia El-Khatib
Student gefunden:  Gesamtliste: Hassan, Jabbari Anwesenheitsliste: Hassan Jabbari
Anwesenheit ist bereits eingetragen für: Hassan Jabbari
Student gefunden:  Gesamtliste: Manuel, Braun Anwesenheitsliste: Manuel Braun
Anwesenheit ist bereits eingetragen für: Manuel Braun
Student gefunden:  Gesamtliste: Bayan, Haddad Anwesenheitsliste: Bayan Haddad
Anwesenheit ist bereits eingetragen für: Bayan Haddad
Student gefunden:  Gesamtliste: Florian, Döring Anwesenheitsliste: Florian Döring
Anwesenheit ist bereits eingetragen für: Florian Döring
Student gefunden:  Gesamtliste: Mina, Salıh Anwesenheitsliste: Mina Salıh
Anwesenheit ist bereits eingetragen für: Mina Salıh
Student gefunden:  Gesamtliste: Basma, Fadel Anwesenheitsliste: Basma Fadel
Anwesenheit ist bereits eingetragen für: Basma Fadel
Student gefunden:  Gesamtliste: Julian, Dietrich Anwesenheitsliste: Julian Dietrich
Anwesenheit ist bereits eingetragen für: Julian Dietrich

<div style='word-wrap: break-word;'><h5>Log: Total processing time: 15.83 seconds</h5></div>

### Bereinigung der Onlinelisten

In [ ]:
print('Pfade der Onlinelisten:',online_lists)

from online import clean_meeting_data

online_lists_paths = {}
if online_lists:
    if process_output_folder:
        online_output_folder = str(process_output_folder) + "/online"
        os.makedirs(online_output_folder, exist_ok=True)
    else:
        process_output_folder = create_unique_output_folder(base_output_folder)
        online_output_folder = str(process_output_folder) + "/online"
        os.makedirs(online_output_folder, exist_ok=True)
    for path in online_lists:
        online_list_name = path.stem
        online_lists_paths[str(online_list_name)] = online_lists_paths.get(str(online_list_name),[])
        if os.path.splitext(path)[1].lower() == '.csv' or '.xlsx':
            online_output_path = online_output_folder + f"/{str(online_list_name)}"
            os.makedirs(online_output_path, exist_ok=True)
            online_csvexport_path = online_output_path + '/csv_exports'
            os.makedirs(online_csvexport_path, exist_ok=True)
            extracted_names = clean_meeting_data(path)
            saving_path_online = f"{online_csvexport_path}/{online_list_name}_final_table.csv"
            extracted_names.to_csv(saving_path_online,index=False)
            online_lists_paths[str(online_list_name)].append(str(saving_path_online))
        if os.path.splitext(path)[1].lower() == '.pdf':
            printmd(path)
printmd(online_lists_paths)

Pfade der Onlinelisten: [PosixPath('/Users/aashiskaphle/Downloads/BA/Listenvorlagen/Anwesenheitslisten/WS_2024_2025/T1/online/Bachelor_1_Sem_EWI_Haake_Gruppe_A.xlsx')]

#### --- **Zoom Data** ---

,Meeting-ID,Thema,Startzeit,Endzeit,Benutzer-E-Mail:,Dauer (Minuten),Teilnehmer
0,3443268643,Persönlicher Meetingraum von Conny Günthner,2023-11-04 08:50:22,2023-11-04 11:56:57,conny.guenthner@th-koeln.de,187,NaN
2,Name (Originalname),Benutzer-E-Mail:,Beitrittszeit,Beendigungszeit,Dauer (Minuten),Gast,Im Warteraum
3,Conny Günthner,conny.guenthner@th-koeln.de,2023-11-04 08:50:22,2023-11-04 11:56:57,187,Nein,Nein
4,Felix Braun,NaN,2023-11-04 09:00:04,2023-11-04 11:56:55,177,Ja,Nein
5,Felix Braun,NaN,2023-11-04 09:00:04,2023-11-04 11:56:55,177,Ja,Nein
6,Samira Chahrour,NaN,2023-11-04 09:03:53,2023-11-04 11:56:56,174,Ja,Nein
7,Omar Haddad,NaN,2023-11-04 09:00:05,2023-11-04 11:56:57,177,Ja,Nein
8,Emre Kara,NaN,2023-11-04 09:02:36,2023-11-04 09:03:32,1,Ja,Ja
9,Mustafa Arslan,NaN,2023-11-04 09:00:43,2023-11-04 09:01:05,1,Ja,Ja
10,Esra Ceylan,NaN,2023-11-04 09:00:07,2023-11-04 09:48:26,49,Ja,Nein
11,Katharina Busch,NaN,2023-11-04 09:03:32,2023-11-04 11:56:56,174,Ja,Nein
12,Tom Fischer,NaN,2023-11-04 08:57:05,2023-11-04 09:00:05,3,Ja,Ja
13,Sabine Krause,NaN,2023-11-04 09:03:24,2023-11-04 09:03:29,1,Ja,Ja
14,Aylin Demir,NaN,2023-11-04 08:50:44,2023-11-04 09:00:04,10,Ja,Ja
15,Janina Müller,NaN,2023-11-04 09:00:31,2023-11-04 11:56:57,177,Ja,Nein
16,Fatima Al-Mansour,NaN,2023-11-04 08:55:57,2023-11-04 09:00:04,5,Ja,Ja
17,Benjamin Wolf,NaN,2023-11-04 09:01:38,2023-11-04 11:56:57,176,Ja,Nein
18,Hamza Idrissi,NaN,2023-11-04 09:01:31,2023-11-04 09:01:38,1,Ja,Ja
19,Patrick Neumann,NaN,2023-11-04 09:00:25,2023-11-04 09:01:03,1,Ja,Ja
20,Farah Noureddine,NaN,2023-11-04 09:01:39,2023-11-04 09:12:07,11,Ja,Nein
21,1 - Farah Noureddine (Farah Noureddine),NaN,2023-11-04 09:01:39,2023-11-04 09:12:07,11,Ja,Nein
22,Lukas Becker,NaN,2023-11-04 08:56:29,2023-11-04 08:56:49,1,Ja,Ja
23,Dominik Keller,NaN,2023-11-04 09:03:53,2023-11-04 09:03:59,1,Ja,Ja
24,Ahmed Salih,NaN,2023-11-04 09:01:13,2023-11-04 09:01:37,1,Ja,Ja
25,Ahmed Salih,NaN,2023-11-04 09:01:13,2023-11-04 09:01:37,1,Ja,Ja
26,Hanan Omer,NaN,2023-11-04 08:57:31,2023-11-04 09:00:11,3,Ja,Ja
27,Leon Schneider,NaN,2023-11-04 08:54:14,2023-11-04 09:00:04,6,Ja,Ja
28,Fabian Schröder,NaN,2023-11-04 09:01:13,2023-11-04 09:01:35,1,Ja,Ja
29,Serkan Öztürk,NaN,2023-11-04 09:00:26,2023-11-04 11:56:57,177,Ja,Nein
30,Leila Rahmani,NaN,2023-11-04 09:01:05,2023-11-04 11:56:52,176,Ja,Nein
31,Markus Engel,NaN,2023-11-04 09:02:30,2023-11-04 09:03:32,2,Ja,Ja
32,Jonas Meyer,NaN,2023-11-04 08:50:31,2023-11-04 09:00:02,10,Ja,Ja
33,Khaled Yildirim,NaN,2023-11-04 09:00:20,2023-11-04 09:00:31,1,Ja,Ja
34,Lisa König,NaN,2023-11-04 09:01:26,2023-11-04 09:01:35,1,Ja,Ja
35,Samir Mahmoud,NaN,2023-11-04 09:00:05,2023-11-04 11:56:55,177,Ja,Nein
36,Samir Mahmoud,NaN,2023-11-04 09:00:05,2023-11-04 11:56:55,177,Ja,Nein
37,Melanie Franke,NaN,2023-11-04 09:01:35,2023-11-04 11:56:57,176,Ja,Nein
38,Elif Akgün,NaN,2023-11-04 09:00:04,2023-11-04 11:56:54,177,Ja,Nein
39,Christian Hartmann,NaN,2023-11-04 09:08:10,2023-11-04 09:08:17,1,Ja,Ja
40,Zohra Etemadi,NaN,2023-11-04 09:04:00,2023-11-04 11:56:57,173,Ja,Nein
41,Lena Klein,NaN,2023-11-04 09:00:05,2023-11-04 11:56:57,177,Ja,Nein
42,Melike Kaya,NaN,2023-11-04 08:56:39,2023-11-04 09:00:03,4,Ja,Ja
43,Youssef Ben Said,NaN,2023-11-04 08:59:40,2023-11-04 09:00:04,1,Ja,Ja
44,Laura Hoffmann,NaN,2023-11-04 08:59:39,2023-11-04 09:00:05,1,Ja,Ja
45,Zainab Hassani,NaN,2023-11-04 09:03:30,2023-11-04 09:12:02,9,Ja,Nein
46,Tim Schulz,NaN,2023-11-04 09:00:05,2023-11-04 11:56:52,177,Ja,Nein
47,Abdulrahman Darwish,NaN,2023-11-04 09:03:32,2023-11-04 11:56:57,174,Ja,Nein
48,Sophie Wagner,NaN,2023-11-04 09:00:02,2023-11-04 11:56:52,177,Ja,Nein
49,1 - Sophie Wagner (Sophie Wagner),NaN,2023-11-04 09:00:02,2023-11-04 11:56:52,177,Ja,Nein
50,Moritz Böhm,NaN,2023-11-04 09:03:31,2023-11-04 09:03:52,1,Ja,Ja
51,Mohammed El-Khatib,NaN,2023-11-04 08:58:44,2023-11-04 09:00:07,2,Ja,Ja
52,Anna Weber,NaN,2023-11-04 08:58:36,2023-11-04 09:00:03,2,Ja,Ja
53,Tobias Lehmann,NaN,2023-11-04 09:00:11,2023-11-04 11:56:56,177,Ja,Nein
54,Vanessa Bergmann,NaN,2023-11-04 09:00:20,2023-11-04 09:00:25,1,Ja,Ja
55,Marcel Richter,NaN,2023-11-04 09:00:06,2023-11-04 11:56:57,177,Ja,Nein
56,Cem Yildiz,NaN,2023-11-04 09:01:36,2023-11-04 11:56:57,176,Ja,Nein
57,Daniel Hoffmann,NaN,2023-11-04 09:01:04,2023-11-04 10:01:06,61,Ja,Nein
58,Bilal Khan,NaN,2023-11-04 09:00:03,2023-11-04 11:56:56,177,Ja,Nein

#### --- **Zoom Data cleaned** ---

2,Name (Originalname),Benutzer-E-Mail:,Beitrittszeit,Beendigungszeit,Dauer (Minuten),Gast,Im Warteraum
2,Felix Braun,NaN,2023-11-04 09:00:04,2023-11-04 11:56:55,177,Ja,Nein
3,Samira Chahrour,NaN,2023-11-04 09:03:53,2023-11-04 11:56:56,174,Ja,Nein
4,Omar Haddad,NaN,2023-11-04 09:00:05,2023-11-04 11:56:57,177,Ja,Nein
5,Emre Kara,NaN,2023-11-04 09:02:36,2023-11-04 09:03:32,1,Ja,Ja
6,Mustafa Arslan,NaN,2023-11-04 09:00:43,2023-11-04 09:01:05,1,Ja,Ja
7,Esra Ceylan,NaN,2023-11-04 09:00:07,2023-11-04 09:48:26,49,Ja,Nein
8,Katharina Busch,NaN,2023-11-04 09:03:32,2023-11-04 11:56:56,174,Ja,Nein
9,Tom Fischer,NaN,2023-11-04 08:57:05,2023-11-04 09:00:05,3,Ja,Ja
10,Sabine Krause,NaN,2023-11-04 09:03:24,2023-11-04 09:03:29,1,Ja,Ja
11,Aylin Demir,NaN,2023-11-04 08:50:44,2023-11-04 09:00:04,10,Ja,Ja
12,Janina Müller,NaN,2023-11-04 09:00:31,2023-11-04 11:56:57,177,Ja,Nein
13,Fatima Al-Mansour,NaN,2023-11-04 08:55:57,2023-11-04 09:00:04,5,Ja,Ja
14,Benjamin Wolf,NaN,2023-11-04 09:01:38,2023-11-04 11:56:57,176,Ja,Nein
15,Hamza Idrissi,NaN,2023-11-04 09:01:31,2023-11-04 09:01:38,1,Ja,Ja
16,Patrick Neumann,NaN,2023-11-04 09:00:25,2023-11-04 09:01:03,1,Ja,Ja
17,Farah Noureddine,NaN,2023-11-04 09:01:39,2023-11-04 09:12:07,11,Ja,Nein
18,Farah Noureddine,NaN,2023-11-04 09:01:39,2023-11-04 09:12:07,11,Ja,Nein
19,Lukas Becker,NaN,2023-11-04 08:56:29,2023-11-04 08:56:49,1,Ja,Ja
20,Dominik Keller,NaN,2023-11-04 09:03:53,2023-11-04 09:03:59,1,Ja,Ja
22,Ahmed Salih,NaN,2023-11-04 09:01:13,2023-11-04 09:01:37,1,Ja,Ja
23,Hanan Omer,NaN,2023-11-04 08:57:31,2023-11-04 09:00:11,3,Ja,Ja
24,Leon Schneider,NaN,2023-11-04 08:54:14,2023-11-04 09:00:04,6,Ja,Ja
25,Fabian Schröder,NaN,2023-11-04 09:01:13,2023-11-04 09:01:35,1,Ja,Ja
26,Serkan Öztürk,NaN,2023-11-04 09:00:26,2023-11-04 11:56:57,177,Ja,Nein
27,Leila Rahmani,NaN,2023-11-04 09:01:05,2023-11-04 11:56:52,176,Ja,Nein
28,Markus Engel,NaN,2023-11-04 09:02:30,2023-11-04 09:03:32,2,Ja,Ja
29,Jonas Meyer,NaN,2023-11-04 08:50:31,2023-11-04 09:00:02,10,Ja,Ja
30,Khaled Yildirim,NaN,2023-11-04 09:00:20,2023-11-04 09:00:31,1,Ja,Ja
31,Lisa König,NaN,2023-11-04 09:01:26,2023-11-04 09:01:35,1,Ja,Ja
33,Samir Mahmoud,NaN,2023-11-04 09:00:05,2023-11-04 11:56:55,177,Ja,Nein
34,Melanie Franke,NaN,2023-11-04 09:01:35,2023-11-04 11:56:57,176,Ja,Nein
35,Elif Akgün,NaN,2023-11-04 09:00:04,2023-11-04 11:56:54,177,Ja,Nein
36,Christian Hartmann,NaN,2023-11-04 09:08:10,2023-11-04 09:08:17,1,Ja,Ja
37,Zohra Etemadi,NaN,2023-11-04 09:04:00,2023-11-04 11:56:57,173,Ja,Nein
38,Lena Klein,NaN,2023-11-04 09:00:05,2023-11-04 11:56:57,177,Ja,Nein
39,Melike Kaya,NaN,2023-11-04 08:56:39,2023-11-04 09:00:03,4,Ja,Ja
40,Youssef Ben Said,NaN,2023-11-04 08:59:40,2023-11-04 09:00:04,1,Ja,Ja
41,Laura Hoffmann,NaN,2023-11-04 08:59:39,2023-11-04 09:00:05,1,Ja,Ja
42,Zainab Hassani,NaN,2023-11-04 09:03:30,2023-11-04 09:12:02,9,Ja,Nein
43,Tim Schulz,NaN,2023-11-04 09:00:05,2023-11-04 11:56:52,177,Ja,Nein
44,Abdulrahman Darwish,NaN,2023-11-04 09:03:32,2023-11-04 11:56:57,174,Ja,Nein
45,Sophie Wagner,NaN,2023-11-04 09:00:02,2023-11-04 11:56:52,177,Ja,Nein
46,Sophie Wagner,NaN,2023-11-04 09:00:02,2023-11-04 11:56:52,177,Ja,Nein
47,Moritz Böhm,NaN,2023-11-04 09:03:31,2023-11-04 09:03:52,1,Ja,Ja
48,Mohammed El-Khatib,NaN,2023-11-04 08:58:44,2023-11-04 09:00:07,2,Ja,Ja
49,Anna Weber,NaN,2023-11-04 08:58:36,2023-11-04 09:00:03,2,Ja,Ja
50,Tobias Lehmann,NaN,2023-11-04 09:00:11,2023-11-04 11:56:56,177,Ja,Nein
51,Vanessa Bergmann,NaN,2023-11-04 09:00:20,2023-11-04 09:00:25,1,Ja,Ja
52,Marcel Richter,NaN,2023-11-04 09:00:06,2023-11-04 11:56:57,177,Ja,Nein
53,Cem Yildiz,NaN,2023-11-04 09:01:36,2023-11-04 11:56:57,176,Ja,Nein
54,Daniel Hoffmann,NaN,2023-11-04 09:01:04,2023-11-04 10:01:06,61,Ja,Nein
55,Bilal Khan,NaN,2023-11-04 09:00:03,2023-11-04 11:56:56,177,Ja,Nein

    Name (Originalname)
2           Felix Braun
3       Samira Chahrour
4           Omar Haddad
5             Emre Kara
6        Mustafa Arslan
7           Esra Ceylan
8       Katharina Busch
9           Tom Fischer
10        Sabine Krause
11          Aylin Demir
12        Janina Müller
13    Fatima Al-Mansour
14        Benjamin Wolf
15        Hamza Idrissi
16      Patrick Neumann
17     Farah Noureddine
18    Farah Noureddine
19         Lukas Becker
20       Dominik Keller
22          Ahmed Salih
23           Hanan Omer
24       Leon Schneider
25      Fabian Schröder
26        Serkan Öztürk
27        Leila Rahmani
28         Markus Engel
29          Jonas Meyer
30      Khaled Yildirim
31           Lisa König
33        Samir Mahmoud
34       Melanie Franke
35           Elif Akgün
36   Christian Hartmann
37        Zohra Etemadi
38           Lena Klein
39          Melike Kaya
40     Youssef Ben Said
41       Laura Hoffmann
42       Zainab Hassani
43           Tim Schulz
44  Abdulrahman Darwish
45        Sophie Wagner
46       Sophie Wagner
47          Moritz Böhm
48   Mohammed El-Khatib
49           Anna Weber
50       Tobias Lehmann
51     Vanessa Bergmann
52       Marcel Richter
53           Cem Yildiz
54      Daniel Hoffmann
55           Bilal Khan

<div style='word-wrap: break-word;'><h5>Log: {'Bachelor_1_Sem_EWI_Haake_Gruppe_A': ['logs/process_2025_05_15_09:53:28/online/Bachelor_1_Sem_EWI_Haake_Gruppe_A/csv_exports/Bachelor_1_Sem_EWI_Haake_Gruppe_A_final_table.csv']}</h5></div>

### Übertragung der Online Anwesenheiten

In [ ]:
from savingfunctions import save_online_attendance
if online_lists_paths:
        list_to_process = None
        lecture_date = None
        table_to_process = None
        sheet_name = None
        process_list_sheet = None
        current_t_folder = os.path.basename(selected_folder).upper()

        for key,values in online_lists_paths.items():
            if 'bachelor' in key.lower():
                list_to_process = gesamtliste_ba
                gl = pd.ExcelFile(list_to_process)
                sheet_names = gl.sheet_names
                file_shortcut = key.split("_")
                file_shortcut = file_shortcut[3]
                printmd('file shortcut:',file_shortcut)
                printmd('Excel Sheets names:',sheet_names)
                for key1,_ in ba_filesheet_names.items():
                    if key1.lower() == str(file_shortcut).lower():
                        sheet_name = ba_filesheet_names[key1]
                        break
                process_list_sheet = pd.read_excel(list_to_process, sheet_name=sheet_name)
                lecture_date = lecture_dates[current_t_folder]
                printmd('Bachelor Modul gefunden','Date:',lecture_date)

            elif 'master' in key.lower():
                list_to_process = gesamtliste_ma
                gl = pd.ExcelFile(list_to_process)
                sheet_names = gl.sheet_names
                file_shortcut = key.split("_")
                file_shortcut = file_shortcut[3]
                printmd('Excel Sheets names:',sheet_names)
                for key1,_ in ma_filesheet_names.items():
                    if key1.lower() == str(file_shortcut).lower():
                        sheet_name = ma_filesheet_names[key1]
                        break
                process_list_sheet = pd.read_excel(list_to_process, sheet_name=sheet_name)
                lecture_date = lecture_dates[current_t_folder]
                printmd('Master Modul gefunden''Date:',lecture_date)

            else:
                continue
            
            for value in values:
                table_to_process = pd.read_csv(value)
                save_online_attendance(lecture_date,process_list_sheet,table_to_process,list_to_process,sheet_name)
                table_to_process = None

printmd(f"Total processing time: {time.time() - start_time:.2f} seconds")

<div style='word-wrap: break-word;'><h5>Log: file shortcut: EWI</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Excel Sheets names: ['AuP_I', 'EWI', 'Mathe I', 'BWL_I', 'SPR', 'Wima', 'RE', 'PM', 'BWL_II', 'BSWE', 'GPM']</h5></div>

<div style='word-wrap: break-word;'><h5>Log: Bachelor Modul gefunden Date: 2024-09-28</h5></div>

    Name (Originalname)
0           Felix Braun
1       Samira Chahrour
2           Omar Haddad
3             Emre Kara
4        Mustafa Arslan
5           Esra Ceylan
6       Katharina Busch
7           Tom Fischer
8         Sabine Krause
9           Aylin Demir
10        Janina Müller
11    Fatima Al-Mansour
12        Benjamin Wolf
13        Hamza Idrissi
14      Patrick Neumann
15     Farah Noureddine
16    Farah Noureddine
17         Lukas Becker
18       Dominik Keller
19          Ahmed Salih
20           Hanan Omer
21       Leon Schneider
22      Fabian Schröder
23        Serkan Öztürk
24        Leila Rahmani
25         Markus Engel
26          Jonas Meyer
27      Khaled Yildirim
28           Lisa König
29        Samir Mahmoud
30       Melanie Franke
31           Elif Akgün
32   Christian Hartmann
33        Zohra Etemadi
34           Lena Klein
35          Melike Kaya
36     Youssef Ben Said
37       Laura Hoffmann
38       Zainab Hassani
39           Tim Schulz
40  Abdulrahman Darwish
41        Sophie Wagner
42       Sophie Wagner
43          Moritz Böhm
44   Mohammed El-Khatib
45           Anna Weber
46       Tobias Lehmann
47     Vanessa Bergmann
48       Marcel Richter
49           Cem Yildiz
50      Daniel Hoffmann
51           Bilal Khan

,Verbundstudiengang Wirtschaftsinformatik,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
1,Fach,EWI,Lehrende,Vaziri,NaN,NaT,NaT,NaT,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
3,Name,Vorname,DO-Ma.Nr.,GM-Ma.Nr.,Termine,NaT,NaT,NaT,Anzahl der Termine,4.0
4,NaN,NaN,NaN,NaN,2024-09-28 00:00:00,2024-10-12,2024-11-09,2024-11-23,%-Anwesenheit,NaN
5,Jonas,Meyer,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
6,Aylin,Demir,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
7,Leon,Schneider,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
8,Fatima,Al-Mansour,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
9,Lukas,Becker,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
10,Melike,Kaya,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
11,Tom,Fischer,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
12,Hanan,Omer,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
13,Anna,Weber,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
14,Mohammed,El-Khatib,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
15,Laura,Hoffmann,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
16,Youssef,Ben Said,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
17,Sophie,Wagner,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
18,Bilal,Khan,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
19,Felix,Braun,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
20,Elif,Akgün,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
21,Tim,Schulz,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
22,Omar,Haddad,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
23,Lena,Klein,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
24,Samir,Mahmoud,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
25,Marcel,Richter,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
26,Esra,Ceylan,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
27,Tobias,Lehmann,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
28,Khaled,Yildirim,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
29,Vanessa,Bergmann,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
30,Patrick,Neumann,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
31,Serkan,Öztürk,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
32,Janina,Müller,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
33,Mustafa,Arslan,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
34,Daniel,Hoffmann,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
35,Leila,Rahmani,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
36,Fabian,Schröder,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
37,Ahmed,Salih,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
38,Lisa,König,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
39,Hamza,Idrissi,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
40,Melanie,Franke,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
41,Cem,Yildiz,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
42,Benjamin,Wolf,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
43,Farah,Noureddine,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
44,Markus,Engel,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
45,Emre,Kara,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
46,Sabine,Krause,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
47,Zainab,Hassani,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
48,Moritz,Böhm,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
49,Abdulrahman,Darwish,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
50,Katharina,Busch,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
51,Samira,Chahrour,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
52,Dominik,Keller,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
53,Zohra,Etemadi,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
54,Christian,Hartmann,NaN,NaN,x,NaT,NaT,NaT,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN
57,Anzahl,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaN

Felix Braun  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Felix, Braun Anwesenheitsliste: Felix Braun
row student: 21
Anwesenheit ist bereits eingetragen für: Felix Braun
Samira Chahrour  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Samira, Chahrour Anwesenheitsliste: Samira Chahrour
row student: 53
Anwesenheit ist bereits eingetragen für: Samira Chahrour
Omar Haddad  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Omar, Haddad Anwesenheitsliste: Omar Haddad
row student: 24
Anwesenheit ist bereits eingetragen für: Omar Haddad
Emre Kara  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Emre, Kara Anwesenheitsliste: Emre Kara
row student: 47
Anwesenheit ist bereits eingetragen für: Emre Kara
Mustafa Arslan  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Mustafa, Arslan Anwesenheitsliste: Mustafa Arslan
row student: 35
Anwesenheit ist bereits eingetragen für: Mustafa Arslan
Esra Ceylan  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Esra, Ceylan Anwesenheitsliste: Esra Ceylan
row student: 28
Anwesenheit ist bereits eingetragen für: Esra Ceylan
Katharina Busch  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Katharina, Busch Anwesenheitsliste: Katharina Busch
row student: 52
Anwesenheit ist bereits eingetragen für: Katharina Busch
Tom Fischer  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Tom, Fischer Anwesenheitsliste: Tom Fischer
row student: 13
Anwesenheit ist bereits eingetragen für: Tom Fischer
Sabine Krause  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Sabine, Krause Anwesenheitsliste: Sabine Krause
row student: 48
Anwesenheit ist bereits eingetragen für: Sabine Krause
Aylin Demir  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Aylin, Demir Anwesenheitsliste: Aylin Demir
row student: 8
Anwesenheit ist bereits eingetragen für: Aylin Demir
Janina Müller  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Janina, Müller Anwesenheitsliste: Janina Müller
row student: 34
Anwesenheit ist bereits eingetragen für: Janina Müller
Fatima Al-Mansour  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Fatima, Al-Mansour Anwesenheitsliste: Fatima Al-Mansour
row student: 10
Anwesenheit ist bereits eingetragen für: Fatima Al-Mansour
Benjamin Wolf  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Benjamin, Wolf Anwesenheitsliste: Benjamin Wolf
row student: 44
Anwesenheit ist bereits eingetragen für: Benjamin Wolf
Hamza Idrissi  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Hamza, Idrissi Anwesenheitsliste: Hamza Idrissi
row student: 41
Anwesenheit ist bereits eingetragen für: Hamza Idrissi
Patrick Neumann  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Patrick, Neumann Anwesenheitsliste: Patrick Neumann
row student: 32
Anwesenheit ist bereits eingetragen für: Patrick Neumann
Farah Noureddine  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Farah, Noureddine Anwesenheitsliste: Farah Noureddine
row student: 45
Anwesenheit ist bereits eingetragen für: Farah Noureddine
Farah Noureddine   wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Farah, Noureddine Anwesenheitsliste: Farah Noureddine
row student: 45
Anwesenheit ist bereits eingetragen für: Farah Noureddine
Lukas Becker  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Lukas, Becker Anwesenheitsliste: Lukas Becker
row student: 11
Anwesenheit ist bereits eingetragen für: Lukas Becker
Dominik Keller  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Dominik, Keller Anwesenheitsliste: Dominik Keller
row student: 54
Anwesenheit ist bereits eingetragen für: Dominik Keller
Ahmed Salih  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Ahmed, Salih Anwesenheitsliste: Ahmed Salih
row student: 39
Anwesenheit ist bereits eingetragen für: Ahmed Salih
Hanan Omer  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Hanan, Omer Anwesenheitsliste: Hanan Omer
row student: 14
Anwesenheit ist bereits eingetragen für: Hanan Omer
Leon Schneider  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Leon, Schneider Anwesenheitsliste: Leon Schneider
row student: 9
Anwesenheit ist bereits eingetragen für: Leon Schneider
Fabian Schröder  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Fabian, Schröder Anwesenheitsliste: Fabian Schröder
row student: 38
Anwesenheit ist bereits eingetragen für: Fabian Schröder
Serkan Öztürk  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Serkan, Öztürk Anwesenheitsliste: Serkan Öztürk
row student: 33
Anwesenheit ist bereits eingetragen für: Serkan Öztürk
Leila Rahmani  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Leila, Rahmani Anwesenheitsliste: Leila Rahmani
row student: 37
Anwesenheit ist bereits eingetragen für: Leila Rahmani
Markus Engel  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Markus, Engel Anwesenheitsliste: Markus Engel
row student: 46
Anwesenheit ist bereits eingetragen für: Markus Engel
Jonas Meyer  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Jonas, Meyer Anwesenheitsliste: Jonas Meyer
row student: 7
Anwesenheit ist bereits eingetragen für: Jonas Meyer
Khaled Yildirim  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Khaled, Yildirim Anwesenheitsliste: Khaled Yildirim
row student: 30
Anwesenheit ist bereits eingetragen für: Khaled Yildirim
Lisa König  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Lisa, König Anwesenheitsliste: Lisa König
row student: 40
Anwesenheit ist bereits eingetragen für: Lisa König
Samir Mahmoud  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Samir, Mahmoud Anwesenheitsliste: Samir Mahmoud
row student: 26
Anwesenheit ist bereits eingetragen für: Samir Mahmoud
Melanie Franke  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Melanie, Franke Anwesenheitsliste: Melanie Franke
row student: 42
Anwesenheit ist bereits eingetragen für: Melanie Franke
Elif Akgün  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Elif, Akgün Anwesenheitsliste: Elif Akgün
row student: 22
Anwesenheit ist bereits eingetragen für: Elif Akgün
Christian Hartmann  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Christian, Hartmann Anwesenheitsliste: Christian Hartmann
row student: 56
Anwesenheit ist bereits eingetragen für: Christian Hartmann
Zohra Etemadi  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Zohra, Etemadi Anwesenheitsliste: Zohra Etemadi
row student: 55
Anwesenheit ist bereits eingetragen für: Zohra Etemadi
Lena Klein  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Lena, Klein Anwesenheitsliste: Lena Klein
row student: 25
Anwesenheit ist bereits eingetragen für: Lena Klein
Melike Kaya  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Melike, Kaya Anwesenheitsliste: Melike Kaya
row student: 12
Anwesenheit ist bereits eingetragen für: Melike Kaya
Youssef Ben Said  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Youssef, Ben Said Anwesenheitsliste: Youssef Ben Said
row student: 18
Anwesenheit ist bereits eingetragen für: Youssef Ben Said
Laura Hoffmann  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Laura, Hoffmann Anwesenheitsliste: Laura Hoffmann
row student: 17
Anwesenheit ist bereits eingetragen für: Laura Hoffmann
Zainab Hassani  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Zainab, Hassani Anwesenheitsliste: Zainab Hassani
row student: 49
Anwesenheit ist bereits eingetragen für: Zainab Hassani
Tim Schulz  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Tim, Schulz Anwesenheitsliste: Tim Schulz
row student: 23
Anwesenheit ist bereits eingetragen für: Tim Schulz
Abdulrahman Darwish  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Abdulrahman, Darwish Anwesenheitsliste: Abdulrahman Darwish
row student: 51
Anwesenheit ist bereits eingetragen für: Abdulrahman Darwish
Sophie Wagner  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Sophie, Wagner Anwesenheitsliste: Sophie Wagner
row student: 19
Anwesenheit ist bereits eingetragen für: Sophie Wagner
Sophie Wagner   wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Sophie, Wagner Anwesenheitsliste: Sophie Wagner
row student: 19
Anwesenheit ist bereits eingetragen für: Sophie Wagner
Moritz Böhm  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Moritz, Böhm Anwesenheitsliste: Moritz Böhm
row student: 50
Anwesenheit ist bereits eingetragen für: Moritz Böhm
Mohammed El-Khatib  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Mohammed, El-Khatib Anwesenheitsliste: Mohammed El-Khatib
row student: 16
Anwesenheit ist bereits eingetragen für: Mohammed El-Khatib
Anna Weber  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Anna, Weber Anwesenheitsliste: Anna Weber
row student: 15
Anwesenheit ist bereits eingetragen für: Anna Weber
Tobias Lehmann  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Tobias, Lehmann Anwesenheitsliste: Tobias Lehmann
row student: 29
Anwesenheit ist bereits eingetragen für: Tobias Lehmann
Vanessa Bergmann  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Vanessa, Bergmann Anwesenheitsliste: Vanessa Bergmann
row student: 31
Anwesenheit ist bereits eingetragen für: Vanessa Bergmann
Marcel Richter  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Marcel, Richter Anwesenheitsliste: Marcel Richter
row student: 27
Anwesenheit ist bereits eingetragen für: Marcel Richter
Cem Yildiz  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Cem, Yildiz Anwesenheitsliste: Cem Yildiz
row student: 43
Anwesenheit ist bereits eingetragen für: Cem Yildiz
Daniel Hoffmann  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Daniel, Hoffmann Anwesenheitsliste: Daniel Hoffmann
row student: 36
Anwesenheit ist bereits eingetragen für: Daniel Hoffmann
Bilal Khan  wird ausgewertet...
date column: 4
Freie Zeilen: [0, 51, 52]
Student gefunden:  Gesamtliste: Bilal, Khan Anwesenheitsliste: Bilal Khan
row student: 20
Anwesenheit ist bereits eingetragen für: Bilal Khan

<div style='word-wrap: break-word;'><h5>Log: Total processing time: 25.69 seconds</h5></div>